# First disable the execution of CGI
Options -Indexes -ExecCGI
# Then make everything CGI...
AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi
# You'll now receive a 403 for calling the files specified above
# He he he...